@import "tailwindcss";
@plugin "daisyui";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.pexels.com/photos/3797928/pexels-photo-3797928.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
  backdrop-filter: blur(2px);
}

#root {
  min-height: 100%;
}
